.container {
  position: relative;
  display: block;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 0;
  margin: 0;
  color: #FFF;
  transform: translate(-50%, -50%);
}
